<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<html>
<body>
    <h class="header">Welcome to a small image gallery of art</h>
    <ul class="gallery">
        <li class="img">
            <a href="images/1"> 
                <img src="images/1.jpg">
            </a>
        </li>
        <li class="img">
            <a href="images/2">
                <img src="images/2.jpg">
            </a>
        </li>
        <li class="img">
            <a href="images/3">
                <img src="images/3.jpg">
            </a>
        </li>
    </ul>
</body>
</html>